# Some String Operations First

- split
- replace
- count
- Capitalize
- Title
- len()
- format

In [1]:
s = "gaurav singhal"

In [14]:
t = s.title()
t

'Gaurav Singhal'

In [15]:
c = s.capitalize()
c

'Gaurav singhal'

In [16]:
spl = s.split(sep="g")
spl

['', 'aurav sin', 'hal']

In [19]:
rep = s.replace("g", "G")
rep

'Gaurav sinGhal'

In [21]:
s.replace("gaur", "baur")

'baurav singhal'

In [25]:
s.count("a")

3

In [24]:
type(s.count("a"))

int

In [26]:
s

'gaurav singhal'

In [29]:
s1 = s.upper()

In [32]:
s1.lower()

'gaurav singhal'

In [34]:
s.isalpha()

False

In [35]:
alp = "RahulJanghu"

In [36]:
alp.isalpha()

True

In [37]:
s.isnumeric()

False

In [40]:
num = "123"

In [41]:
num.isnumeric()

True

In [44]:
alpnum = "rahul123"

In [45]:
alpnum.isalnum()

True

In [49]:
s.find("s")

7

## Splitting a string

In [50]:
s

'gaurav singhal'

In [53]:
s[-1]

'l'

In [56]:
s[len(s) - 1]

'l'

In [55]:
len(s)

14

In [58]:
s[0:len(s)]

'gaurav singhal'

In [62]:
s[0:14:2]

'gua iga'

In [63]:
s[:]

'gaurav singhal'

In [70]:
s[-1::-1]

'lahgnis varuag'

In [73]:
s[::-1]

'lahgnis varuag'

In [74]:
s[:]

'gaurav singhal'

In [79]:
s.isspace()

False

In [80]:
space = "  "

In [81]:
space.isspace()

True

In [84]:
"*".join(s)

'g*a*u*r*a*v* *s*i*n*g*h*a*l'

In [89]:
l = ["1","2","3"]
" ".join(l)

'1 2 3'

# 1. List []

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

In [36]:
## Generation of list and sublists

In [9]:
# Type, id(), len(), index()

In [95]:
l =  ["s", "h", 1, 24, 4, 5, 66]

In [97]:
id(l)

2228529334280

In [98]:
type(l)

list

In [99]:
l[1]

'h'

In [100]:
l[1] = "b"

In [101]:
l

['s', 'b', 1, 24, 4, 5, 66]

In [102]:
id(l)

2228529334280

In [108]:
s = "gaurav singhal"

In [110]:
id(s)

2228527984816

In [111]:
s

'gaurav singhal'

In [114]:
s = s.replace("h", "b")

In [115]:
s

'gaurav singbal'

In [116]:
id(s)

2228527704752

In [ ]:
5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [124]:
for i in range(4):
    for j in range(4-i):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [139]:
s = "Rahul"

In [140]:
id(s)

2228529282776

In [141]:
l = list(s)

In [143]:
l[0] = "r"

In [134]:
s = str(l)

In [135]:
id(s)

2228529379728

In [146]:
s = "".join(l)

In [147]:
id(s)

2228529455992

In [10]:
# identity and quantity
# a is b means they are having same mem address

In [1]:
a = 289
b = 289

In [2]:
a == b

True

In [17]:
id(289)

1943827719824

In [3]:
a is b

False

In [4]:
id(a), id(b)

(1943827718288, 1943827718544)

In [8]:
a = 256
b = 256

id(a), id(b)

(140733700231984, 140733700231984)

In [23]:
id(256)

140733700231984

### Basic operations on list

In [13]:
# Concatenation of two lists, +, mul(*)

In [24]:
l = [1,23,456]

In [26]:
l * 3

[1, 23, 456, 1, 23, 456, 1, 23, 456]

In [27]:
[1,234,5] + [3245,678]

[1, 234, 5, 3245, 678]

In [15]:
## Membership check, a in b

In [28]:
l

[1, 23, 456]

In [30]:
2 in l

False

In [31]:
l

[1, 23, 456]

In [16]:
# lists are iterable

In [34]:
for i in l:
    print(i ** 2)

1
529
207936

In [35]:
python = ["Prashant", "Yash", "Gaurav", "Aditi", "Gunjan", "Tushar", "Kartik"]

In [36]:
type(python)

list

In [43]:
for students in python:
    print(python.index(students) + 1, students)

1 Prashant
2 Yash
3 Gaurav
4 Aditi
5 Gunjan
6 Tushar
7 Kartik

In [20]:
# Using len func,iteration

In [44]:
len(python)

7

In [45]:
length = 0
for i in python:
    length += 1
    
print(length)

7

In [46]:
python.count("Kartik")

1

### Indexing and slicing a list

In [22]:
# l[::], reverse order, forward order, jump

In [47]:
python

['Prashant', 'Yash', 'Gaurav', 'Aditi', 'Gunjan', 'Tushar', 'Kartik']

In [50]:
python[-len(python)]

'Prashant'

In [51]:
python[::-1]

['Kartik', 'Tushar', 'Gunjan', 'Aditi', 'Gaurav', 'Yash', 'Prashant']

In [53]:
python1 = python.copy()

In [55]:
id(python), id(python1)

(1943827871880, 1943832378376)

In [57]:
yash = [2, 3, 5, 10]
Anjali = yash

In [58]:
Anjali[0] = 0

In [60]:
yash

[0, 3, 5, 10]

In [61]:
Anjali

[0, 3, 5, 10]

In [62]:
id(yash), id(Anjali)

(1943832203720, 1943832203720)

### Updating a list
- insert
- append
- extend

In [63]:
l

[1, 23, 456]

In [78]:
# Insert inserts an element before the given index in a list
# Here only object is updated no new obj is created


#insert(index, element)

In [72]:
l.insert(80, "Rahul")

In [73]:
l

[1, 23, 456, 'Rahul', 'Rahul', 'Rahul', 'Rahul']

In [74]:
len(l)

7

In [77]:
l[6]

'Rahul'

In [82]:
l.insert(2, [324,435])

In [84]:
l.insert(2, "inserted")

In [85]:
l

[1, 23, 'inserted', [324, 435], 456, 'Rahul', 'Rahul', 'Rahul', 'Rahul']

In [80]:
## append adds an element/list at last position

In [88]:
l = [1, 23, 'inserted']

In [89]:
l

[1, 23, 'inserted']

In [91]:
l.append("append")

In [92]:
l

[1, 23, 'inserted', 'append']

In [96]:
l.append([123,3,4])

In [97]:
l

[1, 23, 'inserted', 'append', [123, 3, 4], [123, 3, 4]]

In [98]:
id(l)

1943832700936

In [78]:
## extend: extends a list by iteration

In [100]:
le = [1, 23, 'inserted', 'append']

In [102]:
le

[1, 23, 'inserted', 'append']

In [105]:
l1 = [234,5,879,8]

In [106]:
le.extend(l1)

In [107]:
le

[1, 23, 'inserted', 'append', 234, 5, 879, 8]

In [108]:
l = []
s = "efdgn"
l.extend(s)

In [109]:
l

['e', 'f', 'd', 'g', 'n']

In [114]:
l = [[123,34,43], [32,43,54,[23,43,4,[4,"Rahul"]]]]

In [121]:
l[1][3][3][1]  = "Tushar"

In [122]:
l

[[123, 34, 43], [32, 43, 54, [23, 43, 4, [4, 'Tushar']]]]

In [1]:
l = [1,2,3,[4,5,[6,7,[8]]]]

### Deleting elements in a list
- **pop**  :    removes an element from last index
- **remove** :    Removes an element from given index

In [28]:
# Removes an element the number of times the pop command is executed

In [37]:
l = [2,3,55,67,7]

In [18]:
l.pop()

7

In [19]:
l

[2, 3, 55, 67]

In [20]:
l1 = l.pop()

In [21]:
l1

67

In [7]:
l

[2, 3, 55]

In [12]:
## l.pop(index=2)

In [23]:
## del l[0]

In [29]:
l2 = l.remove(3)

In [30]:
l

[55]

In [31]:
l2

In [35]:
del(l)

In [38]:
l

[2, 3, 55, 67, 7]

In [45]:
a = 5
a

5

In [46]:
del(a)

In [49]:
a

NameError: name 'a' is not defined

In [50]:
l

[2, 3, 55, 67, 7]

In [51]:
del l[2]

In [52]:
l

[2, 3, 67, 7]

In [53]:
del(l[0])

In [54]:
l

[3, 67, 7]

### Sorting and reversing
- sort and sorted
- reverse and reversed

In [61]:
l = [2,3,4,5,1]
print(id(l))

2104791988040

In [29]:
# Sorted only sorts a list at runtime and doesnt update the value at memory address.

# sorted(l)

In [62]:
sorted(l)

[1, 2, 3, 4, 5]

In [63]:
l = sorted(l)

In [64]:
l

[1, 2, 3, 4, 5]

In [71]:
l.sort()

In [72]:
l

[1, 2, 3, 4, 5]

In [66]:
# sort method sorts the list and also updates the value of updated list

In [88]:
l.sort(reverse=True)

In [87]:
l

[5, 4, 3, 2, 1]

In [89]:
l.sort()

In [90]:
l

[1, 2, 3, 4, 5]

In [31]:
# Reversed method doesnt update the value at the memory address

#list(reversed(l))

In [81]:
l.reverse()

In [80]:
l

[1, 2, 3, 4, 5]

In [34]:
# reverse this method updates the value at memory address

In [83]:
list(reversed(l))

[1, 2, 3, 4, 5]

In [84]:
l

[5, 4, 3, 2, 1]

In [82]:
# Creating list through input function

In [ ]:
l = [0,1,2,3]

In [94]:
n = int(input())

l = n.split()

 0 1 2 3

ValueError: invalid literal for int() with base 10: '0 1 2 3'

In [92]:
l

['0', '1', '2', '3']

In [101]:
## [[1,2,3], [1,2,3],[1,2,3]]

## List comprehension

In [99]:
lc = [i for i in range(10)]

In [100]:
lc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
l = []

for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
l_even = [i for i in range(0, 11, 2)]

In [104]:
l_even

[0, 2, 4, 6, 8, 10]

In [105]:
l_square = [i*i for i in range(10)]

In [106]:
l_square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
l_odd = [i for i in range(11) if i % 2 != 0]

In [108]:
l_odd

[1, 3, 5, 7, 9]

In [111]:
l_odd = []
l_even = []
for i in range(10):
    if i % 2 != 0:
        l_odd.append(i)
    else:
        l_even.append(i)

In [112]:
l_odd

[1, 3, 5, 7, 9]

In [113]:
l_even

[0, 2, 4, 6, 8]

In [114]:
## [[0], [0,1], [0,1,2], [0,1,2,3,4], [0,1,2,3,4,5]]

In [116]:
l = []
for i in range(1,7):
    l1 = [j for j in range(i)]
    l.append(l1)
    
l

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5]]

In [120]:
l = []

for i in range(1,7):
    l1 = []
    for j in range(i):
        l1.append(j)
    l.append(l1)
        
l

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5]]

In [121]:
l = []
l1 = []
for i in range(1,7):
    for j in range(i):
        l1.append(j)
    l.append(l1)
        
l

[[0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5],
 [0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5],
 [0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5],
 [0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5],
 [0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5],
 [0, 0, 1, 0, 1, 2, 0, 1, 2, 3, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5]]

# 2. Tuples
Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [145]:
t = (1, 2, "Home")

In [123]:
# Tuples are iterable too

In [123]:
type(t)

tuple

In [125]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [126]:
for i in t:
    print(i)

1
2
Home

In [133]:
for i in range(len(t)):
    print(t[i])

1
2
Home

In [ ]:
type(le)

In [137]:
t.count("Home")

1

In [136]:
t

(1, 2, 'Home')

In [138]:
t.index("Home")

2

#### List to tuple and tuple to list..
- Updating a tuple by list

In [148]:
l = list(t)

In [149]:
# Now we can perform all the functions that we could have been applied to a tuple

In [150]:
t

(1, 2, 'Home')

In [151]:
l

[1, 2, 'Home']

In [152]:
l[0] = "Changed"

In [153]:
t = tuple(l)

In [147]:
id(t)

2104792765856

In [154]:
id(t)

2104792765784

In [155]:
t

('Changed', 2, 'Home')

### But...but I like Lists...

- **Storage** : In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.

- **Indexing** : Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety** : It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that

# 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

In [157]:
d = {"Mentor" : "Rahul"}

In [158]:
type(d)

dict

In [159]:
d["Mentor"]

'Rahul'

In [172]:
d = {"Toyota" : ["Innova", "Fortuner", {"model": 2019}], 
     "Maruti" : ["Swift", "Alto"],
     "Honda" : ["Civic", "Amaze"]
    }

In [173]:
d

{'Toyota': ['Innova', 'Fortuner', {'model': 2019}],
 'Maruti': ['Swift', 'Alto'],
 'Honda': ['Civic', 'Amaze']}

In [174]:
type(d)

dict

In [175]:
d["Toyota"][2]["model"]

2019

In [176]:
d["Hyundai"] = ["i20", "Creta", "Eletra", "Verna"]

In [177]:
d

{'Toyota': ['Innova', 'Fortuner', {'model': 2019}],
 'Maruti': ['Swift', 'Alto'],
 'Honda': ['Civic', 'Amaze'],
 'Hyundai': ['i20', 'Creta', 'Eletra', 'Verna']}

#### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

### And yeah, keys of dict can be any immutable object, so...

sets are coming

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries. Your final record structure should look like this:

 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]

# 4. Sets

Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [60]:
# update, remove, union, intersection
# it updates by iterating over an object