## Format method

In [1]:
s = "This is a string"

In [2]:
type(s)

str

In [4]:
intro = "My name is Rahul"
print(intro)

My name is Rahul

In [8]:
intro1 = "My name is"
age = "My age is"
name = input()
age1 = input()
print(intro1, name, age, age1)

 Rahul
 26

My name is Rahul My age is 26

In [43]:
modern_intro = "My name is %s and m chota don ka %s hu or age h %d with salary of %0.1f"

In [44]:
print(modern_intro%("Rahul", "Right hand", 26, 10))

My name is Rahul and m chota don ka Right hand hu or age h 26 with salary of 10.0

In [45]:
print("My name is %s and m chota don ka %s hu or age h %d"%("Yash", "chota shooter", 16))

My name is Yash and m chota don ka chota shooter hu or age h 16

In [46]:
print(modern_intro%("Yash", "chota shooter", 16 ,9.3243456))

My name is Yash and m chota don ka chota shooter hu or age h 16 with salary of 9.3

In [49]:
super_intro = "My name is {}, and m bhot hi {} {} hu or umar h {}"

In [50]:
print(super_intro.format("Rahul", "mst", "master", 26))

My name is Rahul, and m bhot hi mst master hu or umar h 26

In [53]:
name = input()
age = int(input())
profession = input()

 Rahul
 26
 Mentor

In [59]:
new_intro = f"Hello i am {name} my profession is {profession} and i am {age} years old"

In [60]:
print(new_intro)

Hello i am Rahul my profession is Mentor and i am 26 years old

In [66]:
print(f"Hello i am {name} my profession is {profession} and i am {age} years old")

Hello i am Rahul my profession is Mentor and i am 26 years old

In [67]:
a = int(input())
print(f"The cube of {a} is {a ** 3}")

 3

The cube of 3 is 27

In [68]:
print("My name is", name, "my age is", age)

My name is Rahul my age is 26